﻿@model WebApplication2.ViewModels.TestViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    @using (Html.BeginForm())
    {
        <label>ユーザー名</label>
        @Html.EditorFor(model=>model.UserName)
        <button type="submit">送信</button>
    }
</body>
</html>
