﻿@model WebApplication2.ViewModels.TestViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    <p>hello world!! @Model.UserName!?!?</p>
    </div>
</body>
</html>
